.tours {
  padding: 2rem 0;
  display: grid;
  gap: 2rem;
}
.single-tour {
  background: var(--white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  /* for tour price */
  position: relative;
}
.single-tour:hover {
  box-shadow: var(--shadow-3);
}
.single-tour .img {
  height: 20rem;
  border-top-right-radius: var(--borderRadius);
  border-top-left-radius: var(--borderRadius);
}
.tour-price {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  color: var(--white);
  letter-spacing: 2px;
  background: var(--primary-500);
  border-top-right-radius: var(--borderRadius);
}

.tour-info {
  padding: 2rem 1.5rem;
}
.tour-info h5 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.5;
}
.tour-info p {
  line-height: 1.5;
  color: var(--grey-500);
  margin-bottom: 1.25rem;
}
.info-btn,
.delete-btn {
  background: transparent;
  border: transparent;
  text-transform: capitalize;
  cursor: pointer;
}
.info-btn {
  color: var(--primary-500);
  font-weight: 600;
}
.delete-btn {
  border: 1px solid var(--primary-500);
  color: var(--primary-500);
}
.delete-btn:hover {
  background: var(--primary-500);
  color: var(--white);
}
@media screen and (min-width: 768px) {
  .tours {
    grid-template-columns: 1fr 1fr;
    /* fix stretch */
    align-items: start;
  }
}
@media screen and (min-width: 992px) {
  .tours {
    grid-template-columns: 1fr 1fr 1fr;
    /* fix stretch */
    align-items: start;
  }
}
